*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 140px;
    background: rgb(247, 226, 226);
    margin-bottom: 20px; 
}

.ancho{
    width: 80%;
    height: 70%;
    
    margin: auto;
}

#landing_logo{
    padding: 10px;
    float: left;
} 

nav{
    float: right;
    margin: 0px;
    list-style: none;
    line-height: 30px;
    text-align: right;
    padding: 20px;
}

nav button a img{
    width: 140px;
    height: 120;
    border-radius: 20px;
}

.center{
    text-align: center;
    font-size: 20px;
    text-justify: auto;
    
}

body#registro{
    margin: 0;
    padding: 0;
    background: url(https://i.ibb.co/KqD76DR/fondo.png) no-repeat center ;
    background-size: contain;
    background-position-x: 30%;
    font-family: sans-serif;
    height:80vh;
}

.login-box {
    width: 320px;
    height: 450px;
    background: rgb(247, 226, 226);
    color: rgb(0, 0, 0);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: calc(65% );
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #000000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #d3d2d2;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }
